.montserrat-light {
	font-family: 'Montserrat';
	font-weight: 200;
}
.montserrat-regular {
	font-family: 'Montserrat';
	font-weight: 400;
}
.montserrat-bold {
	font-family: 'Montserrat';
	font-weight: 700;
}
