.montserrat-light {
	font-family: 'Montserrat';
	font-weight: 200;
}
.montserrat-regular {
	font-family: 'Montserrat';
	font-weight: 400;
}
.montserrat-bold {
	font-family: 'Montserrat';
	font-weight: 700;
}
Navbar {
	background-color: transparent !important;
}
.coffee-bg {
	background-color: #7F5234;
}
.is-active {
	/* color: white !important; */
	font-weight: bold !important;
	transition: .5s;
}
.home {
	font-weight: bold;
}
